/********************** base css **********************/

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-green: #7c9473;
  --app-green-light: #cfdac8;
  --app-gray: #cdd0cb;
  --app-gray-light: #e8eae6;
}

::-moz-selection {
  color: var(--app-gray);
  background: var(--app-green);
}

::selection {
  color: var(--app-gray);
  background: var(--app-green);
}

/********************** base css **********************/

/********************** common styles **********************/

.FormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Error {
  background-color: var(--app-gray);
  border: 1px solid var(--app-green);
  color: var(--app-green);
  padding: 15px;
  border-radius: 10px;
}

.mb {
  margin-bottom: 20px !important;
}

.my {
  margin: 20px 0px !important;
}

.GreenCenteredLink {
  text-align: center;
  color: var(--app-green);
  cursor: pointer;
  margin: 10px 0;
  transition: opacity 0.2s ease;
}

.GreenCenteredLink:hover {
  opacity: 0.7;
}

.Heading {
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--app-green);
}

.TextField {
  width: 400px;
}

/********************** common styles **********************/

/********************** auth page **********************/

.AuthBg {
  height: 100vh;
  display: flex;
}

.AuthFormContainer {
  width: 40vw;
  min-width: 300px;
  background-color: white;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.LogoContainer {
  width: 60vw;
  background-color: var(--app-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthPageLogo {
  width: 300px;
  transition: all 0.2s ease;
}

.AuthPageLogo:hover {
  transform: rotate(-20deg);
}

.AuthPageMobLogo {
  display: none;
}

/********************** auth page **********************/

/********************** home page **********************/

.HomeContainer {
  height: 100vh;
  display: flex;
}

.UsersContainer {
  flex: 30% 0 0;
  background-color: var(--app-gray-light);
}

.ChatContainer {
  flex: 70% 0 0;
  background-color: var(--app-gray);
}

/********************** home page **********************/

/********************** header **********************/

.HeaderContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--app-green-light);
}

/********************** header **********************/

/********************** profile page **********************/

.ProfilePageContainer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ProfileContainer {
  margin-left: 50px;
}

.UserProfileImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.ProfileForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/********************** profile page **********************/

/********************** profile section **********************/

.ProfileLinkContainer {
  background-color: var(--app-green);
  padding: 30px 15px;
  display: flex;
  align-items: center;
}

.UserTitleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.UserTitle {
  color: white;
  font-weight: 200;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.UserProfileAvatar {
  height: 70px;
  width: 70px;
  min-height: 70px;
  min-width: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

/********************** profile section **********************/

/********************** users section **********************/

.UserItem {
  padding: 5px 20px;
  border-bottom: 1px solid var(--app-green-light);
  color: #7c9473;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
}

.UserItem:hover {
  background-color: var(--app-gray);
}

.ActiveUserItem {
  background-color: var(--app-green-light);
}

.friendAvatar {
  width: 45px;
  height: 45px;
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

/********************** users section **********************/

/********************** chat section **********************/

.ChatHeader {
  background-color: var(--app-gray-light);
  padding: 15px;
  color: var(--app-green);
  font-size: 30px;
  font-weight: 100;
  display: flex;
  align-items: center;
}

/********************** chat section **********************/

/********************** media queries **********************/

@media screen and (max-width: 600px) {
  .AuthFormContainer {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
  }

  .LogoContainer {
    display: none;
  }

  .AuthPageMobLogo {
    display: block;
    width: 100px;
    margin-bottom: 50px;
    transition: all 0.2s ease;
  }

  .AuthPageMobLogo:hover {
    transform: rotate(-20deg);
  }

  .ProfilePageContainer {
    flex-direction: column;
    justify-content: center;
  }

  .ProfileContainer {
    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
  }

  .ProfileForm {
    align-items: center;
  }

  .Heading {
    font-size: 30px;
  }

  .TextField {
    width: 100%;
  }
}

/********************** media queries **********************/
