/********************** base css **********************/

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-green: #7c9473;
  --app-green-light: #cfdac8;
  --app-gray: #cdd0cb;
  --app-gray-light: #e8eae6;
}

::-moz-selection {
  color: var(--app-gray);
  background: var(--app-green);
}

::selection {
  color: var(--app-gray);
  background: var(--app-green);
}

/********************** base css **********************/

/********************** common styles **********************/

.FormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Error {
  background-color: var(--app-gray);
  border: 1px solid var(--app-green);
  color: var(--app-green);
  padding: 15px;
  border-radius: 10px;
}

.mb {
  margin-bottom: 20px !important;
}

.my {
  margin: 20px 0px !important;
}

.GreenCenteredLink {
  text-align: center;
  color: var(--app-green);
  cursor: pointer;
  margin: 10px 0;
}

.Heading {
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--app-green);
}

.TextField {
  width: 400px;
}

/********************** common styles **********************/

/********************** auth page **********************/

.AuthBg {
  height: 100vh;
  background-color: var(--app-green);
}

.AuthFormContainer {
  width: 40vw;
  min-width: 300px;
  background-color: white;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

/********************** auth page **********************/

/********************** home page **********************/

.HomeContainer {
  height: 100vh;
  display: flex;
}

.UsersContainer {
  flex: 30% 0 0;
  background-color: var(--app-gray-light);
}

.ChatContainer {
  flex: 70% 0 0;
  background-color: var(--app-gray);
}

/********************** home page **********************/

/********************** header **********************/

.HeaderContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--app-green-light);
}

/********************** header **********************/

/********************** profile page **********************/

.ProfilePageContainer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ProfileContainer {
  margin-left: 50px;
}

.UserProfileImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.ProfileForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/********************** profile page **********************/

/********************** profile section **********************/

.ProfileLinkContainer {
  background-color: var(--app-green);
  padding: 30px 15px;
  display: flex;
  align-items: center;
}

.UserTitleContainer {
  display: flex;
  flex-direction: column;
}

.UserTitle {
  color: white;
  font-weight: 200;
  font-size: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

.UserProfileAvatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

/********************** profile section **********************/

/********************** media queries **********************/

@media screen and (max-width: 400px) {
  .AuthFormContainer {
    width: 100vw;
  }

  .ProfilePageContainer {
    flex-direction: column;
    justify-content: center;
  }

  .ProfileContainer {
    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
  }

  .ProfileForm {
    align-items: center;
  }

  .Heading {
    font-size: 30px;
  }

  .TextField {
    width: 100%;
  }
}

/********************** media queries **********************/
